.item {
  list-style-type: none;
  color: var(--secondary-light);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-block: 16px;
  border-top: 1px solid var(--secondary-light);
}

.name {
  width: 100%;
}

.done {
  text-decoration: line-through;
}
