.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 12px;
  border: 2px solid var(--secondary-mid);
  border-radius: 12px;
  cursor: pointer;
  background-color: transparent;
  color: var(--secondary-mid);
  font-size: 16px;
  font-weight: 600;
}
.button:hover {
  background-color: var(--secondary-mid);
  color: var(--primary-dark);
}
.button:active {
  transform: scale(0.95);
  transition: transform 50ms;
}
