.container {
  background-color: var(--primary-dark);
  border-radius: 16px;
  padding: 32px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  color: white;
  margin-bottom: 24px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 48px;
  aspect-ratio: 1;
  border: 2px solid var(--secondary-mid);
  border-radius: 100%;
  cursor: pointer;
  background-color: transparent;
  color: var(--secondary-mid);
  font-size: 24px;
}
.button:hover {
  background-color: var(--secondary-mid);
  color: var(--primary-dark);
}
.button:active {
  transform: scale(0.95);
  transition: transform 50ms;
}
