:root {
  --primary-dark: #264653;
  --primary-light: #2a9d8f;
  --secondary-light: #e9c46a;
  --secondary-mid: #f4a261;
  --secondary-dark: #e76f51;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 32px 64px;
}
